<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.manthan.hackbit.spreadasmile" >
    <uses-permission android:name="android.permission.SEND_SMS"></uses-permission>
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_SMS"></uses-permission>


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity_splash"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUp"
            android:label="@string/app_name" >

        </activity>

        <activity
            android:name=".choose"
            android:label="@string/app_name" >
             >

        </activity>

        <activity
            android:name=".food"
            android:label="@string/app_name" >

        </activity>
        <activity android:name=".Slide"></activity>
        <activity android:name=".Slidekor"></activity>
        <activity android:name=".Slidemalleswaram"></activity>
        <activity android:name=".Slidewhite"></activity>
        <activity android:name=".cloth"></activity>
        <activity android:name=".about"></activity>
        <activity android:name=".contact"></activity>
    </application>

</manifest>
